@import "tailwindcss";

@theme {
  --color-sea: #1BD2EB;
  --color-gold: #F8E539;
  --color-neonSea: #1BD2EB;
  --color-high: #FFB300;
  --color-highGold: #FFFB72;
  --color-ground: #000321;
  --color-container: #010210;
  --color-inactive: #B6AE46;
  --color-head: #FFFFFF;
  --color-coHead: #E0E0E0;
  --color-darkSea: #04132A;
  --color-power: #000000;
}

@layer base {
  html {
    font-family: "Segoe UI", system-ui, sans-serif;
  }
}

 body {
    @apply bg-ground m-2;
  }
